
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
* {
  margin: 10px;
}

#nameInput, #addButton {
margin: 10px;
}

#nameList {
list-style: none;
margin: 20px;
}